html,
body {
  height: 100%;
}
body {
  background: url("../img/background.png");
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
}
.box {
  width: 583px;
  margin: auto;
  align-self: center;
}
h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 900;
  width: 100%;
  margin: 30px 0 60px;
}
.messages {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
}
.messages li {
  list-style-type: none;
  border: 1px solid #0dd1ca;
  color: #000;
  background-color: #0dd1ca;
  border-radius: 5px;
  padding: 10px;
}
.btn {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #000;
  padding: 0 10px;
  line-height: 33px;
  height: 37px;
  border-radius: 3px;
  background-color: #53d9d7;
  border: 2.51px solid #53d9d7;
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
}
form {
  color: #0dd1ca;
}
form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0dd1ca;
  opacity: 1;
  /* Firefox */
}
form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0dd1ca;
}
form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0dd1ca;
}
form #id_name {
  color: #0dd1ca;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  border-bottom: 2px solid #0dd1ca;
  border-style: none none solid;
  background-color: transparent !important;
  margin-bottom: 20px;
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 10px 0;
}
form #emails {
  margin-top: 10px;
}
form .css-label {
  margin-top: 10px;
}
form label {
  font-size: 0.9em;
  line-height: 1.2em;
}
form p.error {
  font-size: 0.9em;
  font-weight: 900;
  margin: 0;
}
form .btn {
  float: right;
}
select {
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid #0dd1ca;
  color: #0dd1ca;
  font-size: 0.9em;
  line-height: 1.2em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
p {
  color: #fff;
}
.githubBtn {
  background-color: #fff;
  color: #444;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 4px;
  padding: 6px 12px 6px 40px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.githubBtn > :first-child {
  font-size: 1.8em;
  position: absolute;
  left: 6px;
  top: -8px;
  bottom: 0;
  width: 45px;
  line-height: 45px;
}
#gdpr {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #000;
}
#gdpr .content {
  flex: 1 1 0;
  max-width: 816px;
  padding: 50px 96px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  color: #5a5a5a;
}
#gdpr .content p {
  color: #5a5a5a;
  line-height: 24px;
}
#gdpr .content .headline {
  font-weight: 600;
  text-align: center;
}
#gdpr .content .text {
  font-style: italic;
  border-left: 2px solid #5a5a5a;
  padding-left: 20px;
}
#gdpr .content .actions {
  text-align: center;
}
#gdpr .content .btn {
  cursor: pointer;
}
#gdpr .content .btn :disabled {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
@media (max-width: 600px) {
  #gdpr .content {
    padding: 20px;
  }
}
/*# sourceMappingURL=base.css.map */
